
.ViewerMounter {
    position: relative;
    display: block;
}

.ViewerMounter:hover {
    cursor: pointer;
}

.ViewerMounter:hover .ViewMounter--float-image {
    opacity: 1.0;
}

.ViewMounter--float-image {
    opacity: 0.0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
}

.ViewMounter--float-image-spin {
    opacity: 1.0;
    -webkit-animation: ViewMounter--spin 3s linear infinite;
    -moz-animation: ViewMounter--spin 3s linear infinite;
    animation: ViewMounter--spin 3s linear infinite;
}

@-moz-keyframes  ViewMounter--spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes  ViewMounter--spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes  ViewMounter--spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

